:root {
  --bg-color: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right top,
    #ed44aa,
    #dc3abc,
    #c339d0,
    #9e3fe4,
    #614af8
  );
  clip-path: circle(20% at 30% 20%);
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right top,
    #ed44aa,
    #dc3abc,
    #c339d0,
    #9e3fe4,
    #614af8
  );
  clip-path: circle(10% at 60% 80%);
}

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  overflow: hidden;
  z-index: 10;
  backdrop-filter: blur(10px);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.container .calculator {
  position: relative;
  display: grid;
}

.container .calculator .value {
  grid-column: span 4;
  height: 110px;
  width: 300px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  background: transparent;
  color: rgb(207, 206, 206);
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  border-right: 2px solid rgba(255, 255, 255, 0.05);
  font-size: 2rem;
}

.container .calculator span {
  display: grid;
  place-items: center;
  width: 75px;
  height: 75px;
  color: rgb(207, 206, 206);
  font-weight: 400;
  cursor: pointer;
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.3s ease;
}

.container .calculator span:hover {
  transition: 0s;
  background: rgba(255, 255, 255, 0.05);
}

.container .calculator span:active {
  background: #6e5bee;
  color: rgb(31, 31, 31);
  font-size: 1.6rem;
  font-weight: bold;
}

.container .calculator .clear {
  grid-column: span 2;
  width: 150px;
  background: rgba(255, 255, 255, 0.05);
}

.container .calculator .equal {
  grid-column: span 2;
  width: 150px;
}

// Mobile

@media (max-width: 760px) {
  .container .calculator .value {
    height: 90px;
    width: 240px;
    padding: 5px;
    font-size: 1.2rem;
  }
  .container .calculator span {
    width: 60px;
    height: 60px;
    font-weight: 400;
    font-size: 1rem;
  }
  .container .calculator .clear {
    width: 120px;
  }

  .container .calculator .equal {
    width: 120px;
  }
}
